---
layout: default
title: Home
lat: 38.924525
long: -77.066618
zoom: 12
---
<div class="home">
  <div class="intro"><p><strong>A growing collection of some of the great statuary hidden around the Nation’s capital</strong>. Forget about the big stuff—The Lincoln Memorial, The Washington Monument, etc.—D.C. is filled with small monuments and statues all across the district, let's celebrate as much of it as we can. </p></div>
  <hr>
  <ul class="filter-button-group">
    <li class="filter-button"><button data-filter=".military" class="without-style more-button tag-filter">Military</button></li>
    <li class="filter-button"><button data-filter=".political" class="without-style more-button tag-filter">Political</button></li>
    <li class="filter-button"><button data-filter=".grid-item" class="without-style more-button tag-filter">All</button></li>
  </ul>
  <div class="statues grid">
    {% for post in site.posts  %}
    <a class="without-underline" href="{{ post.url }}"><div class="statue grid-item {% for topic in post.topics %}{{ topic | slugify }} {% endfor %}" style="background-image: url({{ post.listing }});">
      <span class="statue-details">{{ post.title }}</span>
    </div></a>
    {% endfor %}
  </div>
  <div id='map' class="home-map"></div>
  <script type="text/javascript">
    mapboxgl.accessToken = 'pk.eyJ1IjoiZGFpIiwiYSI6IkZsZ0hqcDAifQ.xT3JeLA3cXqgN3HBwoxgAA';
var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/dai/cj6tglt4669i12rmzchzpe5f0', //stylesheet location
    center: [-77.011999, 38.909853], // starting position
    minZoom: 12,
    maxZoom: 15,
    pitch: 40,
});
map.scrollZoom.disable();
// map.scrollZoom.disable();
var nav = new mapboxgl.NavigationControl();
map.addControl(nav, 'top-left');
map.on('load', function(){
  // Turn one on for client specific map embed on client pages
  // map.setLayoutProperty(['USAID'], 'visibility', 'visible');
  // map.setLayoutProperty(['DFID'], 'visibility', 'visible');
  // map.setLayoutProperty(['EC'], 'visibility', 'visible');
});

map.on('click', function (e) {
    var features = map.queryRenderedFeatures(e.point, { layers: ['statuary-pins'] });

    if (features.length) {
        map.flyTo({center: features[0].geometry.coordinates});
    }

    var feature = features[0];

    // Populate the popup and set its coordinates
    // based on the feature found.
    var popup = new mapboxgl.Popup()
        .setLngLat(feature.geometry.coordinates)
        .setHTML("<strong>"+feature.properties.title+"</strong><br>"+feature.properties.desc)
        .addTo(map);
});
map.on('mousemove', function (e) {
    var features = map.queryRenderedFeatures(e.point, { layers: ['statuary-pins'] });
    map.getCanvas().style.cursor = (features.length) ? 'pointer' : '';
});

map.flyTo({
        center: [
            {{ page.long }},
            {{ page.lat }}
        ],
        zoom: {{ page.zoom }}
    });
  </script>
</div>
