
// 🎌The Grid 🎌
.page-content img{
  width: 100%;
}
.big-wrap{
  position: relative;
  @include min-width(3.5);
  margin: auto;
  @include responsive(tiny-screens){
    top: -4rem;
    @include width(4);
  }
  @include responsive(small-screens){
    top: -6rem;
    @include width(6);
  }
  @include responsive(medium-screens){
    @include width(8);
  }
  @include responsive(wide-screens){
    top: -8rem;
    @include width(12);
  }
  @include responsive(ultra-wide-screens){
    top: -10rem;
    @include width(14);
  }
}

// 🎌The Header🎌
header{
  width: 100%;
  postion: relative;
}
h1{
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: -4rem;
  color: white;
  z-index: 2;
  letter-spacing: .2rem;
  @include responsive(small-screens){
    font-size: 5rem;
    top: -6rem;
  }
  @include responsive(wide-screens){
    font-size: 7rem;
    top: -8rem;
  }
  @include responsive(ultra-wide-screens){
    font-size: 9rem;
    top: -10rem;
  }
}
header{
  height: 500px;
}
.shader{
  height: 200px;
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  position: absolute;
  z-index: 1;
  float: left;
  width: 100%;
  top: 300px;
}
iframe{
margin-bottom: 0;
padding-bottom: 0;
}
/*Navigation*/
nav{
  margin-left: 3rem;
}
.nav-list{
  list-style-type: none;
  padding-left: 0;

  li{
    display: block;
    float: left;
    margin-right: 1rem;
  }
}
// 🎌Content🎌
.more{
  text-align: right;
}
.more--icon{
  height: 1rem;
  position: relative;
  top: .14rem;
}
.read-more{
  text-align: right;
}
.intro{
  margin-bottom: 3rem;
  p{
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.1rem;
  }
}
// 🎌The Footer🎌
.colophon{
  text-align: center;
   img{
  height: 2rem;
  position: relative;
  top: 10px;
  }
}
// 🎌Pagination🎌
.pagination{
  margin: 4rem auto 1rem auto;
  font-family: 'Archivo Narrow';
  padding: .5rem;
  background-color: lighten($gray, 30%);
  span, a{
    display: inline-block;
    padding: 1rem 1rem;
    @include responsive(medium-screens){
      padding: 1rem 2rem;
    }
    text-align: center;
    text-decoration: none;
    border-radius: .2rem;
  }
}
.pagination a{
  border: 2px solid $blue;
  a:hover{
    border: 2px solid darken($blue, 10%);
  }
}
.pagination span{
  border: 2px solid black;
}
.previous{
float: right;
}
.next{
  float: left;
}
.page_number{
  text-align: center;
  margin-top: .5rem;
  font-family: 'Archivo Narrow';
}
// 🎌Footer🎌

footer{
  margin-top: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
