// 🎌Use the web-font loader to hide the flash of unstyled text—if Google fonts goes down, serve the next font in the stack🎌

body{
  visibility: hidden;
  line-height: 2rem;
}
.wf-inactive body{
  visibility: visible;
  font-family: Helvetica, sans-serif;
  .page-title{
    font-family: Georgia, serif;
  }
  h1, h2, h3, h4{
    font-family: Georgia, serif;
  }
}
.wf-active body{
  visibility: visible;
  font-family: 'Open Sans', sans-serif;
  .page-title{
    font-family: 'Roboto Slab', serif;
  }
  h1, h2, h3, h4{
    font-family: 'Roboto Slab', serif;
  }
}
.svg{
  fill: currentColor;
}
nav a{
  font-family: 'Open Sans', sans-serif;
}
nav a:hover{
  border-bottom: 2px solid darken($blue, 10%);
}

.highlighter-rouge{
  background-color: #2C3644;
  margin: 2rem;
  padding: 1rem;
  code{
    word-wrap: break-word;
  }
}
hr{
  border: none;
  border-bottom: 1px solid $blue;
}
// 🎌Navigational Links🎌
.more a{
  font-family: 'Open Sans', sans-serif;
}
// 🎌Content🎌
.post-title{
  font-size: 3rem;
}
.post-details{
  font-family: 'Open Sans', sans-serif;
  span{
    padding: .15rem .3rem;
    background-color: $red;
    color: white;
    border-radius: .2rem;
    margin-right: .5rem;
  }
}
// 🎌Content Links🎌

a{
  text-decoration: none;
  color: $blue;
}
a:hover{
  color: darken($blue, 10%);
}
a:not(.without-underline){
  color: $blue;
  font-weight: bold;
  @include fancyUnderline();
}
a:not(.without-underline):hover{
  background-size: 2px 2px;
  color: darken($blue, 10%);
}
